<header>
  <% if current_user %>
    <%= link_to "New Recipe", new_recipe_path, class: 'btn btn-default col-sm-offset-1' %>
  <% end %>
</header>
<body>
  <h1 class="col-md-4 col-md-offset-5">Recipes</h1>

  <br>


<div class="center-block">
  <div id="container" class="transitions-enabled">
    <div class="col-sm-offset-1">
        <% @recipes.each do |recipe| %>
          <div class="box panel-default">
            <div class="thumb">
              <%= image_tag(recipe.image_url(:thumb)) %>
            </div>
            <div class="panel-body text-wrap">
              <%= link_to recipe.title, recipe %>
            </div>
          </div>
          <div>
        <% end %>
  </div>
  <div>
    <br><br><br>
    <div class="footer">
    <div id="tag_cloud" class="col-md-11">
      <p> <strong>Tags:</strong> <% tag_cloud Recipe.tag_counts, %w[s m l] do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
        <% end %></p>
    </div>
  </div>
  </body>
