<h1>All Recipes</h1>

<% @recipes.each do |recipe| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to recipe.title, recipe %>
      </h4>
    </div>
  </div>
<% end %>

<% if current_user %>
<%= link_to "New Recipe", new_recipe_path, class: 'btn btn-default' %>
<% end %>
