
<h1>All Recipes</h1>

<% @recipes.each do |recipe| %>
  <div class="media">
    <div class="media-body">
      <p><%= image_tag recipe.image_url(:thumb) %></p>
      <h4 class="media-heading">
        <%= link_to recipe.title, recipe %>
      </h4>

    </div>
  </div>
<% end %>

<% if current_user %>
<%= link_to "New Recipe", new_recipe_path, class: 'btn btn-default' %>
<% end %>

<div id="tag_cloud">
  <% tag_cloud Recipe.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
