<div class="container">
  <div class="row">
    <h1>New Recipe</h1>
    <br><br>
    <div class="row">
      <div class="col-md-8">
        <%= render partial: 'form', locals: { recipe: @recipe } %>
      </div>
    </div>
  </div>
</div>
