<div class="container text-center">
  <h1>Welcome to RecipeShare!</h1>

  <p>RecipeShare is an online recipe book for you to share and store your favorite recipes.</p>
  <p>It's so easy to lose track of those favorite recipes when they're lost in a
    multitude of books or tossed into a box. With RecipeShare you can post all
    of your favorite recipes, add photos, link to the source, and add tags for
    organization. Not only will you have all of your favorite recipes in one place, but
    you'll be able to browse and save the favorite recipes of others, too! </p>
    <hr>
    <h4><strong>So, how does it work?</strong></h4>
    <p>Easy! Create an account with your email, or just log in through Facebook.
      On our <%= link_to 'Recipes', recipes_path %> page you'll be able to browse already
      created recipes and add your own.</p>
      <p><strong>To add your own recipe:</strong></p>
      <ul class="ul-center">
        <li>Add your recipe title. (This can be anything!)</li>
        <li>Add the recipe ingredients, preferably with bullet points. (This keeps it nice and tidy!)</li>
        <li>Add the instructions in a numbered list. (So no one loses track of what step they should be on!)</li>
        <li>Add the source. (Favorite chef, blog, cooking site, your own kitchen? Add it and give them (or you) credit!)</li>
        <li>Upload a photo. (We want to know what the final product should look like!)</li>
        <li>Add descriptive tags for the recipe. (Meat? Fish? Dessert? Chocolate? Make it easy to sort through all the amazing recipe options!)</li>
        <ul>

        </div>
