<div class="container">
  <h1>Welcome to RecipeShare</h1>

  <p>RecipeShare is a social sharing site for your favorite recipes.</p>
  <p>Do you have a multitude of recipes lost in a file or stuffed in a box somewhere?
      Organize and share your recipes with RecipeShare! Have all of your recipes in one place with the
        added bonus of browsing and saving those added by other cooks! Never wonder what <tfoot>
          make for dinner again!</p>

</div>
