
@import "bootstrap-sprockets";
@import "bootswatch/simplex/variables";
@import "bootstrap";
@import "bootswatch/simplex/bootswatch";
@import 'masonry/basic';
@import 'masonry/centered';
@import 'masonry/fluid';
@import 'masonry/gutters';
@import 'masonry/infinitescroll';
@import 'masonry/right-to-left';
@import 'masonry/transitions';
@import "bootsy";

.form-box {
  border-style: groove;
  border-width: 3px;
  border-color: #777777;  
}

.grid-item { width: 20%; }
.grid-item--width2 { width: 40%; }

$pad: 20px;

.grid {
  background: white;
  margin: 0 0 $pad 0;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.col-1-4 {
  width: 25%;
}

.margin {
    margin: 25px;
}
