
#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

#container {
  margin: 0 auto;
}

.box {
  margin: 5px;
  max-width: 215px;
}

.box img {
  width: 100%;
}

.panel-default {
  width: 200;
  height: 200;
}

.panel-body {
  max-width: 215px;
}
